{% extends 'base.html' %}

{% block content %}


    <!-- Hero Start -->
    <div class="container-fluid bg-primary py-5 bg-hero mb-5">
        <div class="container py-5">
            <div class="row justify-content-start">
                <div class="col-lg-8 text-center text-lg-start">
                    <h1 class="display-1 text-white mb-md-4">અમારા વિશે</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->


    <!-- About Start -->
    <div class="container-fluid about pt-7">
        <div class="container">
            <div class="row gx-7">
                <div class="col-lg-7 pb-7">
                    <div class="mb-3 pb-2" style="color: black;">
                        <h6 class="text-primary text-uppercase">અમારા વિશે</h6>
                        <h1 class="display-5">ખેડૂતોનું સશક્તિકરણ, ગુજરાતમાં ખેતીમાં ક્રાંતિ લાવી.</h1>
                    </div>
                    <h4>અમે <strong>ફાર્મબાઈટ</strong>પર, અમે પરંપરાગત કૃષિ પદ્ધતિઓ અને અત્યાધુનિક તકનીકો વચ્ચેના અંતરને દૂર કરીને ખેડૂતોને સશક્ત બનાવવા માટે પ્રતિબદ્ધ છીએ. અમારું મિશન ભારતમાં ખેતીમાં ક્રાંતિ લાવવાનું છે, ખેડૂતોને પાકની અસરકારક ખેતી કરવા, ઉત્પાદકતા વધારવા અને ટકાઉ ખેતી પદ્ધતિઓ સુનિશ્ચિત કરવા માટે જરૂરી સાધનો, જ્ઞાન અને સંસાધનોથી સજ્જ કરવાનું છે.
                        અમે ખેડૂતોને જે પડકારોનો સામનો કરવો પડે છે તે ઓળખીએ છીએ - પછી ભલે તે માહિતીનો અભાવ હોય, પાકના રોગોને ઓળખવામાં અને તેનું સંચાલન કરવામાં મુશ્કેલીઓ હોય અથવા વિશ્વસનીય કૃષિ ઇનપુટ્સ શોધવાનો સંઘર્ષ હોય. મુ <strong>ફાર્મબાઈટ</strong>, અમે અમારા નવીન પ્લેટફોર્મ દ્વારા ખેડૂતોને ત્વરિત ઉકેલો, સામુદાયિક સમર્થન અને પર્યાવરણને અનુકૂળ ખેતી પદ્ધતિઓ પ્રદાન કરીને આ મુદ્દાઓને ઉકેલીએ છીએ.
                        અમારું વિઝન એક એવું ભવિષ્ય બનાવવાનું છે જ્યાં દરેક ખેડૂત ભય કે અનિશ્ચિતતા વિના ખેતી કરી શકે, તેમના પાક અને આજીવિકાનું રક્ષણ કરી શકે. ટકાઉ કૃષિને પ્રોત્સાહન આપીને અને સહયોગને પ્રોત્સાહન આપીને, અમારો ઉદ્દેશ્ય ભારતના ખેડૂત સમુદાયને મજબૂત કરવાનો છે, આધુનિક કૃષિ પડકારોનો સામનો કરીને સમૃદ્ધિ અને સ્થિતિસ્થાપકતાની ખાતરી કરવી.</h4>
                         
                       <h5>અમે  <strong>ફાર્મબાઈટ</strong> પર ખેડૂતો માટે સ્થાનિક સ્તરે વિક્રેતાઓ અને ડીલરોના સંપર્કો પણ પ્રદાન કરે છેs</h5>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Facts Start -->
   
    

    {% endblock content %}