{% extends 'base.html' %}

{% block content %}


    <!-- Hero Start -->
    <div class="container-fluid bg-primary py-5 bg-hero mb-5">
        <div class="container py-5">
            <div class="row justify-content-start">
                <div class="col-lg-8 text-center text-lg-start">
                    <h1 class="display-1 text-white mb-md-4">About Us</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->


    <!-- About Start -->
    <div class="container-fluid about pt-7">
        <div class="container">
            <div class="row gx-7">
                <div class="col-lg-7 pb-7">
                    <div class="mb-3 pb-2" style="color: black;">
                        <h6 class="text-primary text-uppercase">About Us</h6>
                        <h1 class="display-5">Empowering Farmers, revolutionizing farming in Gujarat.</h1>
                    </div>
                    <h4>At <strong>FARMBYTE</strong>, we are committed to empowering farmers by bridging the gap between traditional agricultural practices and cutting-edge technologies. Our mission is to revolutionize farming in India, equipping farmers with the tools, knowledge, and resources they need to cultivate crops effectively, increase productivity, and ensure sustainable farming practices.
                        We recognize the challenges farmers face—whether it’s a lack of information, difficulties in identifying and managing crop diseases, or the struggle to find reliable agricultural inputs. At <strong>FARMBYTE</strong>, we address these issues by providing farmers with instant solutions, community support, and eco-friendly farming practices through our innovative platform.
                        Our vision is to create a future where every farmer can farm without fear or uncertainty, safeguarding their crops and livelihoods. By promoting sustainable agriculture and fostering collaboration, we aim to strengthen India's farming community, ensuring prosperity and resilience in the face of modern agricultural challenges.</h4>
                         
                       <h5>We at <strong>FARMBYTE</strong> also provide the contacts of vendors and dealers at local level for the farmers</h5>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Facts Start -->
   
    

    {% endblock content %}