{% extends 'base.html' %}

{% block content %}

    <!-- Hero Start -->
    <div class="container-fluid bg-primary py-5 bg-hero mb-5">
        <div class="container py-5">
            <div class="row justify-content-start">
                <div class="col-lg-8 text-center text-lg-start">
                    <h1 class="display-1 text-white mb-md-4">આધુનિક ખેતીની તકનીકો</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->


    <!-- Contact Start -->
     <div style="padding: 10px;padding-left: 40px;">
        <h2>સચોટ ખેતી :-</h2>
        <h4 style="text-align: left;"> -> પાકની તંદુરસ્તી, જમીનની ભેજ અને પોષક તત્ત્વોના સ્તરને મોનિટર કરવા માટે સેટેલાઇટ ઇમેજરી, સેન્સર્સ અને ડેટા વિશ્લેષણનો ઉપયોગ કરે છે. તે ચોક્કસ રીઅલ-ટાઇમ ડેટા પ્રદાન કરીને ઉપજને શ્રેષ્ઠ બનાવવામાં, કચરો ઘટાડવા અને જંતુનાશક, ખાતર અને પાણીના વપરાશને ઘટાડવામાં મદદ કરે છે.
        </h4>
     </div>

     <div style="padding: 10px;padding-left: 40px;">
        <h2>હાઇડ્રોપોનિક્સ:-</h2>
        <h4 style="text-align: left;">
            ->છોડ પોષક તત્ત્વોથી ભરપૂર પાણીમાં માટી વગર ઉગે છે, જે મર્યાદિત શહેરી જગ્યાઓમાં આખું વર્ષ ખેતીની મંજૂરી આપે છે. તે પાણીને રિસાયકલ કરે છે, જંતુનાશકોનો ઉપયોગ ઘટાડે છે અને નિયંત્રિત વાતાવરણમાં ઉપજમાં વધારો કરે છે.

        </h4>
     </div>

     <div style="padding: 10px;padding-left: 40px;">
        <h2>એક્વાપોનિક્સ:-</h2>
        <h4 style="text-align: left;">
            ->હાઇડ્રોપોનિક્સ સાથે માછલીની ખેતી, જ્યાં માછલીનો કચરો ખાતર છોડ અને છોડ માછલી માટે પાણીને સાફ કરે છે. તે જમીન અને પાણીનો ઓછો ઉપયોગ કરે છે, પાક અને માછલી બંનેનું ટકાઉ ઉત્પાદન કરે છે.
        </h4>
     </div>

     <div style="padding: 10px;padding-left: 40px;">
        <h2>
            વર્ટિકલ ફાર્મિંગ:-
        </h2>
        <h4 style="text-align: left;">
            ->સ્ટૅક્ડ સ્તરોમાં પાક ઉગાડે છે, ખાસ કરીને શહેરોમાં જગ્યાનો કાર્યક્ષમ ઉપયોગ કરે છે. તે પાણીને રિસાયકલ કરે છે, LED લાઇટિંગનો ઉપયોગ કરે છે અને જંતુનાશકોને દૂર કરે છે, જેના પરિણામે ઉચ્ચ ઉપજ અને ગુણવત્તા મળે છે.
        </h4>
     </div>

     <div style="padding: 10px;padding-left: 40px;" >
        <h2>
            ટપક સિંચાઈ:-
        </h2>
        <h4 style="text-align: left;">
            ->પાણીનો બગાડ અને બાષ્પીભવન ઘટાડીને પાઈપોના નેટવર્ક દ્વારા છોડના મૂળ સુધી સીધું જ અસરકારક રીતે પાણી પહોંચાડે છે. તે મર્યાદિત જળ સંસાધનો ધરાવતા પ્રદેશો માટે આદર્શ છે.
        </h4>
     </div>
     

     <div style="padding: 10px;padding-left: 40px;">
        <h2>
            એગ્રોફોરેસ્ટ્રી:-
        </h2>
        <h4 style="text-align: left;">
            ->વૃક્ષો અને ઝાડીઓને કૃષિ પ્રણાલીમાં એકીકૃત કરે છે, જમીનની તંદુરસ્તીમાં સુધારો કરે છે, જૈવવિવિધતામાં વધારો કરે છે અને ફળો, બદામ અને લાકડા જેવા વધારાના પાકો પૂરા પાડે છે.

        </h4>
     </div>

     <div style="padding: 10px;padding-left: 40px;">
        <h2>
            ઓર્ગેનિક ખેતી:-
        </h2>
        <h4 style="text-align: left;">
            ->કૃત્રિમ રસાયણો અથવા આનુવંશિક રીતે સંશોધિત સજીવો (GMOs) વિના પાક ઉગાડવા પર ધ્યાન કેન્દ્રિત કરે છે. તે કુદરતી ખાતરો અને જંતુ નિયંત્રણ, જમીનની ગુણવત્તા સુધારવા અને તંદુરસ્ત પાકોનું ઉત્પાદન કરવા પર ભાર મૂકે છે..

        </h4>
     </div>

     <div style="padding: 10px;padding-left: 40px;">
        <h2>
            કૃષિમાં ડ્રોન:-
        </h2>
        <h4 style="text-align: left;">
            ->ડ્રોનનો ઉપયોગ પાક પર દેખરેખ રાખવા, જંતુનાશકોનો છંટકાવ કરવા અને જમીનના સ્વાસ્થ્યનું મૂલ્યાંકન કરવા, શ્રમ ઘટાડવા અને ખેતીની પદ્ધતિઓમાં ચોકસાઈ વધારવા માટે થાય છે..

        </h4>
     </div>

     <div style="padding: 10px;padding-left: 40px;">
        <h2>
            સંરક્ષણ કૃષિ:-
        </h2>
        <h4 style="text-align: left;">
            ->જમીનની ખલેલ ઓછી કરે છે, પાકના પરિભ્રમણને પ્રોત્સાહન આપે છે અને પાણી અને પોષક તત્ત્વોના નુકશાનને ઘટાડીને જમીનની રચના અને ફળદ્રુપતાને સુધારવા માટે કવર પાકનો ઉપયોગ કરે છે.</h4>
     </div>


    <!-- Contact End -->


    {% endblock content %}