{% extends 'base.html' %}

{% block content %}

    <!-- Hero Start -->
    <div class="container-fluid bg-primary py-5 bg-hero mb-5">
        <div class="container py-5">
            <div class="row justify-content-start">
                <div class="col-lg-8 text-center text-lg-start">
                    <h1 class="display-1 text-white mb-md-4">Modern Farming Techniques</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->


    <!-- Contact Start -->
     <div style="padding: 10px;padding-left: 40px;">
        <h2>Precision Farming:- </h2>
        <h4 style="text-align: left;"> -> Uses satellite imagery, sensors, and data analysis to monitor crop health, soil moisture, and nutrient levels. It helps optimize yields, reduce waste, and lower pesticide, fertilizer, and water usage by providing accurate real-time data.

        </h4>
     </div>

     <div style="padding: 10px;padding-left: 40px;">
        <h2>Hydroponics:-</h2>
        <h4 style="text-align: left;">
            ->Plants grow in nutrient-rich water without soil, allowing year-round farming in limited urban spaces. It recycles water, reduces pesticide use, and increases yield in a controlled environment.

        </h4>
     </div>

     <div style="padding: 10px;padding-left: 40px;">
        <h2>Aquaponics:-</h2>
        <h4 style="text-align: left;">
            ->Fish farming with hydroponics, where fish waste fertilizes plants, and plants clean the water for fish. It uses less land and water, producing both crops and fish sustainably.
        </h4>
     </div>

     <div style="padding: 10px;padding-left: 40px;">
        <h2>
            Vertical Farming:-
        </h2>
        <h4 style="text-align: left;">
            ->Grows crops in stacked layers, making efficient use of space, especially in cities. It recycles water, uses LED lighting, and eliminates pesticides, resulting in higher yields and quality.

        </h4>
     </div>

     <div style="padding: 10px;padding-left: 40px;" >
        <h2>
            Drip Irrigation:-
        </h2>
        <h4 style="text-align: left;">
            ->Efficiently delivers water directly to the plant's roots through a network of pipes, reducing water waste and evaporation. It is ideal for regions with limited water resources.
        </h4>
     </div>
     

     <div style="padding: 10px;padding-left: 40px;">
        <h2>
            Agroforestry:-
        </h2>
        <h4 style="text-align: left;">
            ->Integrates trees and shrubs into agricultural systems, improving soil health, enhancing biodiversity, and providing additional crops like fruits, nuts, and timber.

        </h4>
     </div>

     <div style="padding: 10px;padding-left: 40px;">
        <h2>
            Organic Farming:-
        </h2>
        <h4 style="text-align: left;">
            ->Focuses on growing crops without synthetic chemicals or genetically modified organisms (GMOs). It emphasizes natural fertilizers and pest control, improving soil quality and producing healthier crops.

        </h4>
     </div>

     <div style="padding: 10px;padding-left: 40px;">
        <h2>
            Drones in Agriculture:-
        </h2>
        <h4 style="text-align: left;">
            ->Drones are used for monitoring crops, spraying pesticides, and assessing soil health, reducing labor and increasing precision in farming practices.

        </h4>
     </div>

     <div style="padding: 10px;padding-left: 40px;">
        <h2>
            Conservation Agriculture:-
        </h2>
        <h4 style="text-align: left;">
            ->Minimizes soil disturbance, promotes crop rotation, and uses cover crops to improve soil structure and fertility while reducing water and nutrient loss.</h4>
     </div>


    <!-- Contact End -->


    {% endblock content %}