{% extends 'base.html' %}

{% block content %}

<!-- Hero Start -->
<div class="container-fluid bg-primary py-5 bg-hero mb-5">
    <div class="container py-5">
        <div class="row justify-content-start">
            <div class="col-lg-8 text-center text-lg-start">
                <h1 class="display-1 text-white mb-md-4">Contact Us</h1>
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->

<style>
    td{
    border: 2px solid black;
    width: 50px;
    height: 50px;
    
    }
    
            </style>
    </head>
    
    <body>
    <table style="text-align: center; width: 70%;border: 2px solid black;">
    <tr>
        <td  colspan="4" style="font-size: x-large; color: black;"><strong>Government Policies</strong></td>
    </tr>
    
    <tr>
        <td style="color: black;">Sr no.</td>
        <td style="color: black;">Name Of Policies</td>
        <td style="color: black;">Details Of Policiies</td>
        <td style="color: black;">Link Of Policiies</td>


    </tr>
    
    <tr>
        <td style="color: black;">1.</td>
        <td style="color: black;">The Agri Infrastructure scheme</td>
        <td style="color: black;">The Agri Infrastructure Fund, announced on May 15, 2020, by the Finance Minister, provides a ₹1 lakh crore financing facility for farm-gate and post-harvest infrastructure projects, benefiting farmers, agricultural entrepreneurs, FPOs, and start-ups. The scheme, operational from 2020-21 to 2032-33, offers loans with a 3% interest subvention for amounts up to ₹2 crore, for a maximum of 7 years. Credit guarantee coverage will be provided under the CGTMSE scheme. This initiative aims to enhance post-harvest management, reduce regional disparities, and promote sustainable agricultural practices</td>
        <td style="color: black;"><a href="https://agriinfra.dac.gov.in">https://agriinfra.dac.gov.in</a></td>


    </tr>
    
    <tr>
        <td style="color: black;" >2.</td>
        <td style="color: black;" >PM Kisan scheme</td>
        <td style="color: black;" >PM Kisan is a fully-funded Central Sector scheme by the Government of India, operational since December 1, 2018. It provides income support of ₹6,000 per year, distributed in three equal installments, to all land-holding farmer families, defined as husband, wife, and minor children. The State and UT administrations identify eligible beneficiaries, and funds are transferred directly to their bank accounts. The scheme includes various exclusion categories. The plan aims to converge investments in irrigation at the field level through district or sub-district water use plans, enhancing water</td>
        <td><a href="https://pmkisan.gov.in/">https://pmkisan.gov.in/</a></td>

        
    </tr>
   
    
    <tr>
        <td style="color: black;" >3.</td>
        <td style="color: black;" >PRADHAN MANTRI KRISHI SINCHAYEE YOJANA</td>
        <td style="color: black;" >Pradhan mantri Krishi sinchayee yojana access on farms and expanding irrigated areas. It integrates water sourcing, distribution, and efficient use via technologies like precision irrigation to reduce wastage and boost availability. The initiative also promotes aquifer recharge, rainfed area development through watershed approaches, and sustainable water conservation practices. Additionally, it encourages water harvesting, efficient water management, reuse of treated municipal wastewater for peri-urban agriculture, and seeks to attract private investments in irrigation.</td> 
        <td ><a href="https://pmksy.gov.in/">https://pmksy.gov.in/</a></td>
    </tr>
    
    <tr>
        <td style="color: black;">4.</td>
        <td style="color: black;">Pradhan Mantri Fasal Bima Yojana (PMFBY)</td>
        <td style="color: black;">The Pradhan Mantri Fasal Bima Yojana (PMFBY) supports sustainable agricultural production by providing financial assistance to farmers facing crop loss due to unforeseen events. It aims to stabilize farmers' incomes, encouraging them to continue farming and adopt modern agricultural practices. Additionally, the scheme promotes the flow of credit to the agricultural sector, contributing to food security, crop diversification, and overall growth while protecting farmers from production risks.</td>
        <td><a href="https://pmfby.gov.in/pdf/New%20Schemes-english_.pdf">https://pmfby.gov.in/pdf/New%20Schemes-english_.pdf</a></td>

    </tr>

    <tr>
        <td style="color: black;">5.</td>
        <td style="color: black;">Pradhan Mantri Kisan Samman Nidhi (PM-KISAN)</td>
        <td style="color: black;">PM-KISAN is a central sector scheme launched on 24th February 2019 to supplement financial needs of land holding farmers, subject to exclusions. Under the scheme, financial benefit of Rs. 6000/- per year is transferred in three equal four-monthly installments into the bank accounts of farmers’ families across the country, through Direct Benefit Transfer (DBT) mode. Till now, Rs.2.81 lakh crores have been transferred through Direct Benefit Transfer (DBT) to more than 11 crores beneficiaries (Farmers) through various instalments</td>
        <td><a href="https://services.india.gov.in/service/detail/pm-kisan-samman-nidhi-1">https://services.india.gov.in/service/detail/pm-kisan-samman-nidhi-1</a></td>

    </tr>
    <tr>
        <td style="color: black;">6.</td>
        <td style="color: black;">Pradhan Mantri Kisan Maandhan Yojna (PMKMY)</td>
        <td style="color: black;">Pradhan Mantri Kisan Maandhan Yojna (PMKMY) is a central sector scheme launched on 12th September 2019 to provide security to the most vulnerable farmer families. PM-KMY is contributory scheme, small and marginal farmers (SMFs), subject to exclusion criteria, can opt to become member of the scheme by paying monthly subscription to the Pension Fund. Similar, amount will be contributed by the Central Government.</td>
        <td><a href="https://pmkmy.gov.in/scheme/pmkmy">https://pmkmy.gov.in/scheme/pmkmy</a></td>

    </tr>
    <tr>
        <td style="color: black;">7.</td>
        <td style="color: black;">Pradhan Mantri Shram Yogi Maandhan</td>
        <td style="color: black;">Pradhan Mantri Shram Yogi Maandhan is a government scheme meant for old age protection and social security of Unorganized Workers (UW).

            Unorganized Workers (UW) are mostly engaged as home based workers, street vendors, mid-day meal workers, head loaders, brick kiln workers, cobblers, rag pickers, domestic workers, washer men, rickshaw pullers, landless laborers, own account workers, agricultural workers, construction workers, beedi workers, handloom workers, leather workers, audio- visual workers or workers in similar other occupations. There are approximately 42 crore such Unorganized workers in the country.
            
            It is a voluntary and contributory pension scheme under which the beneficiary would receive a minimum assured pension of Rs 3000/- per month after attaining the age of 60 years and if the beneficiary dies, the spouse of the beneficiary shall be entitled to receive 50% of the pension as family pension. Family pension is applicable only to spouse.
            
            On the maturity of the scheme, an individual will be entitled to obtain a monthly pension of Rs. 3000/-. The pension amount helps pension holders to aid their financial requirements.
            The scheme is a tribute to the workers in the Unorganized sectors who contribute around 50 per cent of the nation’s Gross Domestic Product (GDP).
            The applicants between the age group of 18 to 40 years will have to make monthly contributions ranging between Rs 55 to Rs 200 per month till they attain the age of 60.
            Once the applicant attains the age of 60, he/ she can claim the pension amount. Every month a fixed pension amount gets deposited in the pension account of the respective individual.</td>
        <td><a href="https://web.umang.gov.in/landing/department/maandhan.html">https://web.umang.gov.in/landing/department/maandhan.html</a></td>

    </tr>
    <tr>
        <td style="color: black;">8.</td>
        <td style="color: black;">Pradhan Mantri Kisan MaanDhan Yojana (PM-KMY)</td>
        <td style="color: black;" >The applicants between the age group of 18 to 40 years will have to contribute between Rs. 55 to Rs. 200 per month till they attain the age of 60. PMKMY is taking care of the farmers during their old age and provides Rs. 3,000 monthly pension to the enrolled farmers once they attain 60 years of age, subject to exclusion criteria.Life Insurance Corporation (LIC) is pension fund manager and registration of beneficiaries is done through CSC and State Govts.So far 23.38 lakh farmers have enrolled under the scheme.</td>
        <td><a href="https://pmkisan.gov.in/Documents/PM-KMY%20-%20Salient%20Features.pdf">https://pmkisan.gov.in/Documents/PM-KMY%20-%20Salient%20Features.pdf</a></td>

    </tr>
    <tr>
        <td style="color: black;">9.</td>
        <td style="color: black;">Rastriya Krishi Vikas Yojana-Detailed Project Report based schemes (RKVY- DPR)</td>
        <td style="color: black;">The scheme focuses on creation of pre & post-harvest infrastructure in agriculture and allied sectors that help in supply of quality inputs, market facilities, etc to farmers. It provides flexibility and autonomy to states to implement projects as per the local farmers’ needs and priorities from a bouquet of activities in agriculture and allied sectors. The scheme aims to fill the resources gap of agriculture and allied sectors by providing financial support to states for undertaking various activities to increase in overall growth of agriculture and allied sectors and farmers’ income.Under RKVY Agri-startup Programme, since 2019-20, 1524 Start-ups have been selected and Rs. Rs. 106.25 crore released as grants-in-aid for funding the Start-ups.</td>
        <td><a href="https://rkvy.nic.in/static/download/pdf/RKVY_14th_Fin._Comm.pdf">https://rkvy.nic.in/static/download/pdf/RKVY_14th_Fin._Comm.pdf</a></td>

    </tr>
    <tr>
        <td style="color: black;">10.</td>
        <td style="color: black;">Harvesting Tools Assistance for General Category (HRT-2)</td>
        <td style="color: black;">The scheme “Harvesting Tools Assistance for General Category (HRT-2)” is implemented by the Directorate of Horticulture, Agriculture, Farmers Welfare and Co-operation Department, Government of Gujarat. Under the scheme, financial assistance is provided to farmers belonging to the General Category as well as to FPOs (Farmers Producer Organizations), FPCs (Farmers Producer Companies), FIGs (Farmer Interest Groups), SHGs (Self-Help Groups), and Cooperative Societies for purchasing of different harvesting and processing equipment</td>
        <td><a href="https://www.myscheme.gov.in/schemes/htagchrt-2">https://www.myscheme.gov.in/schemes/htagchrt-2</a></td>

    </tr>
    </table> 
    


{% endblock content %}