{% extends 'base.html' %}

{% block content %}

<!-- Hero Start -->
<div class="container-fluid bg-primary py-5 bg-hero mb-5">
    <div class="container py-5">
        <div class="row justify-content-start">
            <div class="col-lg-8 text-center text-lg-start">
                <h1 class="display-1 text-white mb-md-4">Contact Us</h1>
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->

<style>
    td{
    border: 2px solid black;
    width: 50px;
    height: 50px;
    
    }
    
            </style>
    </head>
    
    <body>
    <table style="text-align: center; width: 70%;border: 2px solid black;">
    <tr>
        <td  colspan="4" style="font-size: x-large; color: black;"><strong>સરકારી નીતિઓ</strong></td>
    </tr>
    
    <tr>
        <td style="color: black;">ક્રમ નં.</td>
        <td style="color: black;">પોલિસીઓના નામ</td>
        <td style="color: black;">પોલિસીઓના વિગત</td>
        <td style="color: black;">પોલિસીઓનો લિંક</td>
        


    </tr>
    
    <tr>
        <td style="color: black;">1.</td>
        <td style="color: black;">કૃષિ ઈન્ફ્રાસ્ટ્રક્ચર યોજના</td>
        <td style="color: black;">15 મે, 2020ના રોજ નાણાં પ્રધાન દ્વારા જાહેરાત કરાયેલ કૃષિ ઈન્ફ્રાસ્ટ્રક્ચર ફંડ ખેડૂતો, કૃષિ ઉદ્યોગસાહસિકો, FPOs અને સ્ટાર્ટ-અપ્સને લાભ આપતી ફાર્મ-ગેટ અને પોસ્ટ-હર્વેસ્ટ ઈન્ફ્રાસ્ટ્રક્ચર પ્રોજેક્ટ્સ માટે ₹1 લાખ કરોડની ફાઇનાન્સિંગ સુવિધા પ્રદાન કરે છે. આ યોજના 2020-21થી 2032-33 સુધી કાર્યરત રહેશે, જેમાં ₹2 કરોડ સુધીના રકમ પર મહત્તમ 7 વર્ષ માટે 3% વ્યાજ સબવેન્શન સાથે લોન ઓફર કરવામાં આવે છે. CGTMSE યોજના હેઠળ ક્રેડિટ ગેરંટી કવરેજ પ્રદાન કરવામાં આવશે. આ પહેલ પોસ્ટ-હર્વેસ્ટ મેનેજમેન્ટમાં સુધારો, પ્રદેશીય વૈષમ્ય ઘટાડવા અને ટકાઉ કૃષિ પ્રથાઓને પ્રોત્સાહન આપવા માટે છે.</td>
        <td style="color: black;"><a href="https://agriinfra.dac.gov.in">https://agriinfra.dac.gov.in</a></td>



    </tr>
    
    <tr>
        <td style="color: black;">2.</td>
        <td style="color: black;">પીએમ કિસાન યોજના</td>
        <td style="color: black;">પીએમ કિસાન એક સંપૂર્ણ કેન્દ્ર સરકારની યોજના છે, જે 1 ડિસેમ્બર, 2018થી કાર્યરત છે. આ યોજના તમામ જમીન ધારક ખેડૂત પરિવારોને, જેમાં પતિ, પત્ની અને નાબાલિગ બાળકોનો સમાવેશ થાય છે, દર વર્ષે ₹6,000 ની આવક સહાય પ્રદાન કરે છે, જે ત્રણ સમાન હપ્તાઓમાં વહેંચવામાં આવે છે. રાજ્યો અને કેન્દ્રશાસિત પ્રદેશોની વહીવટી સંસ્થાઓ યોગ્ય લાભાર્થીઓની ઓળખ કરે છે અને નાણાં સીધી જ તેમના બેંક ખાતામાં ટ્રાન્સફર કરવામાં આવે છે. આ યોજના હેઠળ વિવિધ અપવાદ વર્ગોનો સમાવેશ થાય છે. યોજના જીલ્લા અથવા ઉપ-જીલ્લા જળ ઉપયોગ યોજનાઓ દ્વારા ક્ષેત્ર સ્તરે સિંચાઈમાં રોકાણ સમન્વયિત કરવાનો હેતુ ધરાવે છે, જળના ઉપયોગમાં સુધારો લાવવા માટે.</td>
        <td><a href="https://pmkisan.gov.in/">https://pmkisan.gov.in/</a>
        </td>
        

        
    </tr>
   
    <tr>
        <td style="color: black;">3.</td>
        <td style="color: black;">પ્રધાનમંત્રી કૃષિ સિંચાઈ યોજના</td>
        <td style="color: black;">પ્રધાનમંત્રી કૃષિ સિંચાઈ યોજના ખેડુતોને ખેતરોમાં સિંચાઈની પહોંચ અને સિંચાઈ વિસ્તાર વધારવા પર કેન્દ્રિત છે. આ યોજના પાણીના સ્ત્રોત, વિતરણ અને ટેક્નોલોજી, જેમ કે પ્રિસીજન સિંચાઈ દ્વારા પાણીની બરબादी ઘટાડીને વધુ ઉપલબ્ધતા માટે કાર્યરત છે. આ પહેલના ભાગ રૂપે પાણીની ફરીથી ભરતણ, વરસાદ આધારિત વિસ્તારના વિકાસ અને ટકાઉ જળ સંરક્ષણ પ્રથાઓને પ્રોત્સાહન આપવામાં આવે છે. ઉપરાંત, તે પાણીના સંચય, અસરકારક પાણી વ્યવસ્થાપન, શહેરીકૃત ખેતરમાં ઉપયોગ માટે મ્યુનિસિપલ મલિનજળના પુનઃઉપયોગ અને સિંચાઈમાં ખાનગી રોકાણને આકર્ષિત કરે છે.</td>
        <td><a href="https://pmksy.gov.in/">https://pmksy.gov.in/</a></td>
    </tr>
    
    <tr>
        <td style="color: black;">4.</td>
        <td style="color: black;">પ્રધાનમંત્રી ફસલ બીમા યોજના (PMFBY)</td>
        <td style="color: black;">પ્રધાનમંત્રી ફસલ બીમા યોજના (PMFBY) ખેતીના નિરંતર ઉત્પાદનને સપોર્ટ કરે છે અને અનાયાસ પેદા થયેલા નુકસાનોથી ઘવાયેલા ખેડૂતોને નાણાકીય સહાય પ્રદાન કરે છે. આ યોજના ખેડૂતોની આવક સ્થિર કરવી અને તેમને ખેતી ચાલુ રાખવામાં પ્રોત્સાહન આપવા તથા આધુનિક કૃષિ પ્રથાઓ અપનાવવામાં મદદરૂપ છે. ઉપરાંત, આ યોજના કૃષિ ક્ષેત્રમાં ધિરાણનો પ્રવાહ વધારવા, ખાદ્ય સુરક્ષા, પાક વિવિધીકરણ અને કુલ વૃદ્ધિ માટે યોગદાન આપે છે, અને ખેડૂતોને ઉત્પાદન જોખમોથી બચાવે છે.</td>
        <td><a href="https://pmfby.gov.in/pdf/New%20Schemes-english_.pdf">https://pmfby.gov.in/pdf/New%20Schemes-english_.pdf</a></td>
    </tr>
    
    <tr>
        <td style="color: black;">5.</td>
        <td style="color: black;">પ્રધાનમંત્રી કિસાન સન્માન નિધિ (PM-KISAN)</td>
        <td style="color: black;">PM-KISAN એ કેન્દ્ર સરકારની યોજના છે, જે 24 ફેબ્રુઆરી 2019ના રોજ શરૂ થઈ હતી, જે જમીન ધારક ખેડૂતોની નાણાકીય જરૂરિયાતો પૂરી કરવા માટે છે. આ યોજના હેઠળ, દર વર્ષે ખેડૂતોના પરિવારના બેંક ખાતામાં ત્રણ સમાન ચાર માસિક હપ્તાઓમાં રૂ. 6,000 ની નાણાકીય સહાય ડાયરેક્ટ બિનિફિટ ટ્રાન્સફર (DBT) મોડ દ્વારા ટ્રાન્સફર કરવામાં આવે છે. અત્યાર સુધીમાં, ડાયરેક્ટ બિનિફિટ ટ્રાન્સફર (DBT) દ્વારા કુલ રૂ. 2.81 લાખ કરોડ 11 કરોડથી વધુ લાભાર્થીઓ (ખેડૂત)ના ખાતામાં ટ્રાન્સફર કરવામાં આવ્યા છે.</td>
        <td><a href="https://services.india.gov.in/service/detail/pm-kisan-samman-nidhi-1">https://services.india.gov.in/service/detail/pm-kisan-samman-nidhi-1</a></td>
    </tr>
    
    <tr>
        <td style="color: black;">6.</td>
        <td style="color: black;">પ્રધાનમંત્રી કિસાન માનધન યોજના (PMKMY)</td>
        <td style="color: black;">પ્રધાનમંત્રી કિસાન માનધન યોજના (PMKMY) 12 સપ્ટેમ્બર 2019ના રોજ સૌથી નબળા ખેડૂત પરિવારોને સુરક્ષા આપવા માટે શરૂ કરવામાં આવેલી કેન્દ્ર સરકારની યોજના છે. PM-KMY એ એક યોગદાન આધારિત યોજના છે, જેમાં નાના અને ગરીબ ખેડૂતોએ (SMFs) નક્કી કરેલી ફી ચૂકવીને સ્કીમમાં સામેલ થઈ શકે છે. કેન્દ્ર સરકાર દ્વારા સમાન ફી યોગદાન કરવામાં આવશે.</td>
        <td><a href="https://pmkmy.gov.in/scheme/pmkmy">https://pmkmy.gov.in/scheme/pmkmy</a></td>
    </tr>
    
    <tr>
        <td style="color: black;">7.</td>
        <td style="color: black;">પ્રધાનમંત્રી શ્રમ યોગી માનધન</td>
        <td style="color: black;">પ્રધાનમંત્રી શ્રમ યોગી માનધન એક સરકારી યોજના છે, જે ગેર-સંગઠિત શ્રમિકો (UW) માટે વૃદ્ધાવસ્થા સુરક્ષા અને સામાજિક સુરક્ષા પૂરી પાડે છે.
            ગેર-સંગઠિત શ્રમિકો (UW) માં મુખ્યત્વે ઘર આધારિત કામદારો, રસ્તા વેચાણકારો, મધ્યાહન ભોજન કામદારો, માથાના ભાર કામદારો, ઇંટના ભઠ્ઠા કામદારો, મોચી, કચરાવાળા, ઘરગથ્થું કામદારો, ધોબી, રિક્ષા ચાલક, જમીન વિનાના મજૂર, પોતાની જરૂરિયાતો માટે કામ કરતા કામદારો, કૃષિ કામદારો, બાંધકામ કામદારો, બીડી કામદારો, હેન્ડલૂમ કામદારો, ચામડાના કામદારો, ઓડિયો-વિઝ્યુઅલ કામદારો અથવા આવા અન્ય વ્યવસાયોમાં કામ કરતા શ્રમિકોનો સમાવેશ થાય છે. દેશમાં આશરે 42 કરોડ આવા ગેર-સંગઠિત કામદારો છે.
            આ યોજના અંતર્ગત લાભાર્થીને 60 વર્ષની ઉંમરે માસિક 3,000/- રૂપિયાની પેટા બધી મળશે. જો લાભાર્થીનું અવસાન થાય છે, તો તેણીનું પતિ/પત્ની પરિવારની પેન્શન તરીકે પેન્શનની 50% રકમ મેળવે છે. પરિવારની પેન્શન માત્ર પતિ/પત્નીને લાગુ પડે છે. 
            18 થી 40 વર્ષની વયગઠમાં અરજદારોએ માસિક યોગદાન 55 થી 200 રૂપિયા સુધી ચૂકવવું પડશે, અને 60 વર્ષની ઉંમરે પેન્શન મેળવો.</td>
        <td><a href="https://web.umang.gov.in/landing/department/maandhan.html">https://web.umang.gov.in/landing/department/maandhan.html</a></td>
    </tr>
    
    <tr>
        <td style="color: black;">8.</td>
        <td style="color: black;">પ્રધાનમંત્રી કિસાન માનધન યોજના (PM-KMY)</td>
        <td style="color: black;">18 થી 40 વર્ષની વયના અરજદારોને માસિક 55 થી 200 રૂપિયા સુધી યોગદાન આપવું પડશે, અને તેઓ 60 વર્ષની ઉંમરે 3,000/- રૂપિયા માસિક પેન્શન મેળવશે. આ યોજના પાત્ર ખેડૂતોએ પોતાની વૃદ્ધાવસ્થામાં નાણાકીય સુરક્ષા માટે વિકસાવવામાં આવી છે. લાઈફ ઇન્શ્યોરન્સ કોર્પોરેશન (LIC) પેન્શન ફંડ મેનેજર છે, અને લાભાર્થીઓનો નોંધણી CSC અને રાજ્ય સરકારો દ્વારા થાય છે. અત્યાર સુધી 23.38 લાખ ખેડૂતોએ આ યોજના હેઠળ નોંધણી કરાવી છે.</td>
        <td><a href="https://pmkisan.gov.in/Documents/PM-KMY%20-%20Salient%20Features.pdf">https://pmkisan.gov.in/Documents/PM-KMY%20-%20Salient%20Features.pdf</a></td>
    </tr>
    
    <tr>
        <td style="color: black;">9.</td>
        <td style="color: black;">રાષ્ટ્રીય કૃષિ વિકાસ યોજના-વિગતવાર પ્રોજેક્ટ આધારિત યોજનાઓ (RKVY-DPR)</td>
        <td style="color: black;">આ યોજના કૃષિ અને સંલગ્ન ક્ષેત્રોમાં પૂર્વ અને વિપરિત પાક સંકળાયેલા આધારભૂત સેવાઓ માટે હેતુલક્ષી છે, જે ખેડૂતોને ગુણવત્તાવાળી સહાયતા પૂરી પાડે છે. રાજ્યોને આ કામગીરી કરવા માટે સ્વતંત્રતા આપવામાં આવી છે. 2019-20 થી RKVY કૃષિ સ્ટાર્ટ-અપ કાર્યક્રમ હેઠળ 1524 સ્ટાર્ટ-અપ્સ પસંદ કરાયાં છે અને Rs. 106.25 કરોડ ગ્રાન્ટ્સ ઈન એઇડ તરીકે ફાળવાયા છે.</td>
        <td><a href="https://rkvy.nic.in/static/download/pdf/RKVY_14th_Fin._Comm.pdf">https://rkvy.nic.in/static/download/pdf/RKVY_14th_Fin._Comm.pdf</a></td>
    </tr>
    
    <tr>
        <td style="color: black;">10.</td>
        <td style="color: black;">જનરલ કેટેગરી માટે હરવેસ્ટિંગ ટૂલ્સ સહાય (HRT-2)</td>
        <td style="color: black;">"જનરલ કેટેગરી માટે હરવેસ્ટિંગ ટૂલ્સ સહાય (HRT-2)" ખેડુતોને તેમના ખેતરમાં પકડવાની સરળતા માટે યાંત્રિક સાધનોનું જથ્થો અપનાવવા માટે સહાય પૂરી પાડે છે. આ યોજના ખેડુતોને મશીનરીનો ઉપયોગ કરીને તેમની કામગીરીને ઝડપી અને કાર્યક્ષમ બનાવવામાં મદદ કરે છે.</td>
        <td><a href="https://pmkisan.gov.in/Documents/PM-KMY%20-%20Salient%20Features.pdf">https://pmkisan.gov.in/Documents/PM-KMY%20-%20Salient%20Features.pdf</a></td>
    </tr>
    

    </tr>
    </table> 
    


{% endblock content %}